textarea {
  font-family: 'Bungee', cursive;
  font-size: 80%;
  height:30px;
  border:3px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color:#545149;
  border-bottom-style: solid;
  width: 100%;
  background-color: #f4f1ec;
}

[value="Tweet"] {
  font-family: 'Bungee', cursive;
  color:white;
  font-size:70%;
  background-color: #4056A1;
}

.tweetCount {
  display: flex;
  justify-content: space-between;
  margin:5px auto;
}

.counter {
  font-family: 'Bungee', cursive;
  color:#545149;
  font-size:70%;
}

.counter.error {
  color:red;
}